<%- include('../inc/header.ejs') %>
<div class="card boderCard">
    <!-- Thêm sản phẩm -->
    <span class="ms-4 titleCustom" ><%= title %></span>
    <hr class="me-4 ms-4 hrCustom">
    <div class="mt-2 row">
        <form class="row" method="POST" enctype="multipart/form-data">
            <!-- thêm nhân viên -->
            <div class="col-12 row ms-2">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label formtext">Tên đăng nhập</label>
                    <input name="username" type="text" class="form-control boderBtn" 
                    id="inputEmail4" placeholder="tên tài khoản của bạn" required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label formtext">Ảnh đại diện</label>
                    <div class="input-group rounded-2">
                        <input name="upload-avata" type="file" class="form-control boderBtn" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label formtext">Mật khẩu</label>
                    <input name="password" type="password" class="form-control boderBtn" 
                    id="inputAddress" placeholder="mật khẩu của bạn" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label formtext">Họ và tên</label>
                    <input name="fullname" type="text" class="form-control boderBtn" 
                    id="inputPassword4" placeholder="họ và tên của bạn" required>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label formtext">Nhập lại mật khẩu</label>
                    <input name="passwordRe" type="password" class="form-control boderBtn" 
                    id="inputAddress" placeholder="nhập lại mật khẩu" required>
                </div>
                <div class="col-md-3">
                    <label for="inputAddress2" class="form-label formtext">Email</label>
                    <input name="email" type="email" class="form-control boderBtn" 
                    id="inputAddress2" placeholder="kết thúc bằng @gmail.com" required>
                </div>
                <div class="col-md-3">
                    <label for="inputCity" class="form-label formtext">Số điện thoại</label>
                    <input name="phone" type="text" class="form-control boderBtn" 
                    id="inputCity" placeholder="số điện thoại bạn sử dụng" required>
                </div>
                <div class="col-md-6 mt-3 mb-5">
                    <a href="/user" ><Button class=" me-2 btnCustom" type="button">Hủy</Button></a>
                    <button type="submit" class="btnCustom">Lưu</button>
                </div>
                <div class="col-md-6 mt-4">
                    <p style="color: red; font-style: italic; font-size: 16px;">
                        <%= msg %>
                    </p>
                </div>
            </div>
        </form>
    </div>

</div>

<%- include('../inc/footer.ejs') %>